@*@model IEnumerable<WebASCATUR.Models.Opinion>

@{
    Layout = null;
}*@



@model IEnumerable<WebASCATUR.Models.Opinion>

@{
    ViewData["Title"] = "Index";
}

@foreach (var opinion in Model)
{
    <div class="swiper-slide">
        <blockquote class="blockquote">
            <div class="margin-b-20">
               @Html.DisplayFor(modelItem => opinion.Detalle)
            </div>

            <p><span class="fweight-700 color-link">@Html.DisplayFor(modelItem => opinion.NombreUsuario)</span>, Metronic Customer</p>
        </blockquote>
    </div>
}

@*@section scriptOpiniones
{
    <script>
        $get("Opiniones", function(data))

    </script>
 }*@

@*<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Detalle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NombreUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaIngreso)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.IdComercioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdComercioNavigation.Cedula)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@

