
@using Microsoft.Extensions.Options;
@using WebASCATUR.Configuration;
@using WebASCATUR.Data.Models;

@inject IOptions<ApplicationConfigurations> OptionsApplicationConfiguration

@model  WebASCATUR.ViewModels.HomeViewModel

@foreach (var servicio in Model.aleatorioServicios)
{
    <div class="col-sm-4 sm-margin-b-50">
        <div class="margin-b-20">
            <img class="img-responsive wow fadeInUp" src="@(OptionsApplicationConfiguration.Value.PathImage + servicio.ImagenPrimaria)" alt="Latest Products Image" data-wow-duration=".3" data-wow-delay=".2s" data-wow-iteration="2">
        </div>
        <h4><a asp-controller="Servicio" asp-action="Detalle" asp-route-Id="@servicio.Id">@servicio.Nombre</a></h4>
        <p style="white-space: nowrap; width: 18em;text-overflow:ellipsis; overflow: hidden;">@servicio.Detalle</p>
        
        <a class="link" asp-controller="Servicio" asp-action="Detalle" asp-route-Id="@servicio.Id">Leer Más</a>
    </div>
               
}
