@model WebASCATUR.ViewModels.HomeViewModel

@{
  ViewData["Title"] = "Index";
  Layout = "~/Views/Shared/_LayoutClientSide.cshtml";
}
@*@await Html.PartialAsync("Carousel")*@
    <!-- Acerca de.. -->
    <div id="acerca_de">
        <div class="content-md container">

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item active">
                        <img class="full-width img-responsive" src="~/img/1920x1080/03.jpg" alt="Los Angeles" style="width:100%">
                        <div class="carousel-caption">
                            <h2 style="color:white;">Visión</h2>
                            <p style="color:white;">Ser una fuente de oportunidades para la generación de empleos, rescatando y manteniendo su identidad cultural y ambiental, siendo inclusivo a todos los sectores vulnerables del Cantón La Cruz.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img class="full-width img-responsive" src="~/img/1920x1080/02.jpg" alt="Chicago">
                        <div class="carousel-caption">
                            <h2 style="color:white;">Misión</h2>
                            <p style="color:white;">Representar al sector comercial y turístico potenciando el desarrollo económico con responsabilidad social, cultural y ambiental, para mejorar la calidad de vida de los habitantes de La Cruz.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img class="full-width img-responsive" src="~/img/1920x1080/05.jpg" alt="New York">
                        <div class="carousel-caption">
                            <h2 style="color:white;">Valores</h2>
                            <p style="color:white;">
                                •  Respeto
                                •   Servicio
                                •   Solidaridad
                                •   Transparencia
                                •   Honestidad
                                •   Compromiso
                                •   Emprendedurismo
                            </p>
                        </div>
                    </div>

                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
   <!-- Ofertas-->
       <div id="ofertas">
        <div class="container content-lg">
            <div class="row text-center margin-b-40">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2>Ofertas</h2>
                    <p>Ofrecemos las mejores ofertas de la comunidad</p>
                </div>
            </div>
            <!--// end row -->

            <div class="row">
                <!-- Latest Ofertas-->
                @Html.Partial("_RandomOfertas", Model)

                <!-- End Latest Ofertas---->
            </div>
            <!--// end row -->
            <br />
            <a class="link" asp-controller="Oferta" asp-action="List">VER TODAS LAS OFERTAS</a>
        </div>


    </div>
    <!-- Servicios -->
    <div id="services">
        <div class="container content-lg">
            <div class="row text-center margin-b-40">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2>Servicios</h2>
                    <p>Ofrecemos los mejores servicios de la comunidad</p>
                </div>
            </div>
            <!--// end row -->

            <div class="row">
                <!-- Latest Products -->
                @Html.Partial("_RandomServicios", Model)
          
            </div>
            <!--// end row -->
            <br/>
            <a class="link" asp-controller="Servicio" asp-action="List">VER TODOS LOS SERVICIOS</a>
        </div>


    </div>
    <!-- End Servicios -->
    <!-- Promo Banner -->
    <div class="promo-banner">
        <div class="container-sm content-lg">
            <h2 class="promo-banner-title">Naturaleza y solidaridad</h2>
            <p class="promo-banner-text">....</p>
        </div>
    </div>
    <!-- End Promo Banner -->
    <!-- Work -->
    <div id="Eventos">
        <div class="container content-lg">
            <div class="row text-center margin-b-40">
                <div class="col-sm-6 col-sm-offset-3">
                    <br />
                    <h2>Eventos y Noticias</h2>
                    <p>Informese de las mejores actividades del cantón de La Cruz, Guanacaste </p>
                </div>
            </div>

            <div class="content-md container">
                <!-- Masonry Grid -->
                <div class="masonry-grid row row-space-2">
                    <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
                    @Html.Partial("_RandomEventos", Model)

                </div>
                <!-- End Masonry Grid -->
                <br />
                <a class="link" asp-controller="Eventos" asp-action="List">VER TODOS LOS EVENTOS</a>
            </div>
        </div>
        </div>
    <!-- End Work -->
    <!-- Productos -->
    <div id="productos">
        <div class="container content-lg">
            <div class="row text-center margin-b-40">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2>Productos</h2>
                    <p>Estamos para servirles</p>
                </div>
            </div>
            <!--// end row -->

            <div class="row">
                @Html.Partial("_RandomProductos", Model)

            </div>
            <!--// end row -->
            <br />
            <a class="link" asp-controller="Producto" asp-action="List">VER TODOS LOS PRODUCTOS</a>
        </div>


    </div>
    <!-- End Productos -->
    <!-- Testimonials -->
    <div class="content-md container">
        <div class="row">
            <div class="col-sm-9">
                <h2>Opinión de los visitantes..</h2>

                <!-- Swiper Testimonials -->
                <div class="swiper-slider swiper-testimonials">
                    <!-- Swiper Wrapper -->
                    <div class="swiper-wrapper">
                        @Html.Partial("_RandomOpiniones",Model)
                    </div>
                    <!-- End Swiper Wrapper -->
                    <!-- Pagination -->
                    <div class="swiper-testimonials-pagination"></div>
                </div>
                <!-- End Swiper Testimonials -->
            </div>
        </div>
        <!--// end row -->
    </div>
    <!-- End Testimonials -->
    <!-- Contact -->
    <div id="contact">
        <!-- Google Map -->
        <div class="gmap">
            <div id="map" class="map height-400"></div>
            <address class="gmap-address">
                <p class="color-heading margin-b-0">Asociación Cámara de Desarrollo del Comercio y Turismo de La Cruz, Guanacaste, Costa Rica</p>
            </address>
        </div>
        <!-- End Google Map -->
    </div>
    <!-- End Contact -->

